var substringContent = function (str) {
  return str.length > 35 ? str.substring(0, 35) + '...' : str
}

var tenParse = function (number) {
  return number < 10 ? '0' + number : number
}

var parseDate = function (date, integer) {
  var dateObj = getDate(date)
  var year = dateObj.getFullYear()
  var month = dateObj.getMonth() + 1
  var day = dateObj.getDate()
  var hour = dateObj.getHours()
  var minute = dateObj.getMinutes()
  var second = dateObj.getSeconds()
  if (integer) { // 返回20180315123050
    return year + tenParse(month) + tenParse(day) + tenParse(hour) + tenParse(minute) + tenParse(second)
  } else { // 返回2018-03-16 16:34:35
    return year + '-' + tenParse(month) + '-' + tenParse(day) + ' ' + tenParse(hour) + ':' + tenParse(minute) + ':' + tenParse(second)
  }
}

var getDateDis = function (dateTime, isTimeStamp) {
  var dateTimeStamp = isTimeStamp ? dateTime : Date.parse(dateTime); // 用Date.parse()替换new Date().getTime(), getDate替换new Date
  var minute = 1000 * 60;
  var hour = minute * 60;
  var day = hour * 24;
  var halfamonth = day * 15;
  var month = day * 30;
  var now = Date.now();
  var diffValue = now - dateTimeStamp;
  if (diffValue < 0) {
    console.log("结束日期不能小于开始日期！");
  }
  var dayC = diffValue / day;
  var hourC = diffValue / hour;
  var minC = diffValue / minute;
  if (dayC >= 3) {
    result = parseDate(dateTimeStamp);
  } else if (dayC >= 2) {
    result = '前天';
  } else if (dayC >= 1) {
    result = '昨天';
  } else if (hourC >= 1) {
    result = parseInt(hourC) + "小时前";
  } else if (minC >= 1) {
    result = parseInt(minC) + "分钟前";
  } else
    result = "刚刚";
  return result;
}

var changeQiniuUrl = function (url, imgOrigin, qiniuQuery) {
  var reg = getRegExp('(http:\/\/)|(https:\/\/)')
  return reg.test(url) ? url : imgOrigin + url + qiniuQuery
}

module.exports = {
  substringContent: substringContent,
  parseDate: parseDate,
  getDateDis: getDateDis,
  changeQiniuUrl: changeQiniuUrl
}
