var substringContent = function (str) {
  return str.length > 35 ? str.substring(0, 35) + '...' : str
}

var getDateDis = function (dateTime, isTimeStamp) {
  var dateTimeStamp = isTimeStamp ? dateTime : Date.parse(dateTime); // 用Date.parse替换new Date
  var minute = 1000 * 60;
  var hour = minute * 60;
  var day = hour * 24;
  var halfamonth = day * 15;
  var month = day * 30;
  var now = Date.now();
  var diffValue = now - dateTimeStamp;
  console.log(diffValue)
  if (diffValue < 0) {
    alert("结束日期不能小于开始日期！");
  }
  console.log(month)
  var monthC = diffValue / month;
  var weekC = diffValue / (7 * day);
  var dayC = diffValue / day;
  var hourC = diffValue / hour;
  var minC = diffValue / minute;
  console.log(monthC)
  if (monthC >= 1) {
    result = parseInt(monthC) + "月前";
  } else if (weekC >= 1) {
    result = parseInt(weekC) + "周前";
  } else if (dayC >= 1) {
    result = parseInt(dayC) + "天前";
  } else if (hourC >= 1) {
    result = parseInt(hourC) + "小时前";
  } else if (minC >= 1) {
    result = parseInt(minC) + "分钟前";
  } else
    result = "刚刚发表";
  return result;
}

var changeQiniuUrl = function (url, imgOrigin, qiniuQuery) {
  var reg = getRegExp('(http:\/\/)|(https:\/\/)')
  return reg.test(url) ? url : imgOrigin + url + qiniuQuery
}

module.exports = {
  substringContent: substringContent,
  getDateDis: getDateDis,
  changeQiniuUrl: changeQiniuUrl
}
